# Endereço do container gateway na LAN. Também será anunciado pelo DHCP como gateway dos clientes.
LAN_IP=10.88.0.1

# Rede LAN dos containers.
LAN_CIDR=10.88.0.0/24

# Gateway interno da bridge Docker. Deve estar na LAN, mas não deve ser igual ao LAN_IP.
LAN_DOCKER_GATEWAY=10.88.0.254

# Faixa usada pelo IPAM do Docker para IPs temporários dos containers. Deve ficar fora do pool DHCP do Kea para evitar colisão.
LAN_DOCKER_IP_RANGE=10.88.0.240/28

# Pool DHCP entregue pelo Kea aos clientes da LAN.
DHCP_POOL_START=10.88.0.100
DHCP_POOL_END=10.88.0.200

# DNS entregue por DHCP. Lista separada por vírgula.
DHCP_DNS=1.1.1.1, 9.9.9.9

# Domínio entregue pelo DHCP aos clientess.
DHCP_DOMAIN=lab.local

# Portas internas dos serviços no container Gateway.
FW_API_PORT=8080
KEA_CA_PORT=8000

# Portas publicadas no host.
FW_API_HOST_PORT=18080
KEA_CA_HOST_PORT=18000

# Credenciais da interface/API administrativa do firewall.
ADMIN_USER=admin
ADMIN_PASSWORD=troque-esta-senha
FLASK_SECRET_KEY=troque-esta-chave-por-uma-string-longa
